html {
    background: black;
    color     : #ccc;
}

@arrow-opacity: 0.2;
@scale        : 0.5;

body {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    justify-content: space-between;
    align-items    : center;
    height         : 100%;
    margin         : 0;
    padding        : 0;
    @border-color  : #111;

    >div.outputContainer {
        order     : 2;
        background: #111;

        >div#divOutput {
            width     : auto;
            height    : auto;
                flex-direction : column;
            display        : flex;
            border-collapse: collapse;

            >div {

                display        : flex;
                flex-direction : row;
                flex-wrap      : nowrap;
                justify-content: center;
                border-collapse: collapse;

                >div {
                    border-left   : solid calc(1px * @scale ) @border-color;
                    border-top    : solid calc(1px * @scale ) @border-color;
                    width         : calc(10px * @scale );
                    height        : calc(10px * @scale );
                    color         : white;
                    font-size     : calc(8px * @scale );
                    line-height   : calc(8px * @scale );
                    text-align    : center;
                    vertical-align: middle;

                    &[data-orientation='#'] {
                        background-color: orange;
                    }

                    &[data-orientation='n'],
                    &[data-orientation='s'] {
                        border-left-color: transparent;
                    }

                    &[data-orientation='e'],
                    &[data-orientation='w'] {
                        border-top-color: transparent;
                    }

                    &:before {
                        color: rgba(0, 0, 0, @arrow-opacity);
                    }

                    &[data-orientation='N'],
                    &[data-orientation='n'] {
                        background-color: blue;

                        &:before {
                            content: '▲';
                        }
                    }

                    &[data-orientation='S'],
                    &[data-orientation='s'] {
                        background-color: green;

                        &:before {
                            content: '▼';
                        }
                    }

                    &[data-orientation='E'],
                    &[data-orientation='e'] {
                        background-color: red;

                        &:before {
                            content: '▶'
                        }
                    }

                    &[data-orientation='W'],
                    &[data-orientation='w'] {
                        background-color: yellow;

                        &:before {
                            content: '◀';
                        }
                    }
                }
            }
        }
    }

    >div.interface {
        order           : 1;
        justify-self    : start;
        align-self      : flex-start;
        height          : 100%;
        background-color: #111;
        box-shadow      : 2px 0 2px rgba(255, 255, 255, 0.2);
        min-width       : 200px;
        display         : flex;
        flex-direction  : column;
        flex-wrap       : nowrap;
        justify-content : flex-start;
        align-items     : center;

        >section {
            align-self: stretch;
        }
    }

    >div#spacer {
        order: 9999;
    }
}

section {
    border : solid 1px #888;
    padding: 1em;
    margin : 0.5em;

    input {
        background-color: black;
        border          : inset 1px black;
        padding         : 0.2em 0 0.2em 0.5em;
        color           : #ccc;
    }

    input#txtQuickSize {
        width: 5em;
    }
}

button {
    background    : #111;
    color         : #ccc;
    border        : solid 1px #555;
    border-radius : 2px;
    padding       : 0.5em 1em;
    vertical-align: middle;
}

button:disabled {
    opacity: 0.5;
}


div#divProgress {
    width : calc(100% + 2em);
    margin: 1em -1em -1em -1em;

    >div {
        height          : 1px;
        background-color: blue;
        width           : 0;
    }
}